.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("https://media.istockphoto.com/id/1480851057/photo/library-shelf-full-of-books-on-different-subjects-education-theme-background.webp?b=1&s=170667a&w=0&k=20&c=TccjxX_F3CSU1E7Yjtd48qJJBhyMahpneYcwfJ9MEqU=") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}